.movies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 20px * 2);
  margin: auto;
  padding: 0 20px;
}

.movies__list {
  display: grid;
  justify-content: center;
  width: 100%; 
  grid-template-columns: repeat(auto-fit, 270px);
  grid-template-rows: repeat(auto-fit, 320px);
  grid-gap: 20px;
  padding: 70px 0;
  margin: auto;
}

.movies__message {
  display: none;
}

.movies__message_active {
  display: block;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  color: #4285f4;
}

.movies__more {
  width: 320px;
  margin: 50px auto 83px;
  border: 1px solid #424242;
  transition: opacity 0.5s linear 0.1s;
  border-radius: 5px;
}

.movies__more_disable {
  display: none;
}

.movies__more-button {
  display: flex;
  width: 100%;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 11px 150px 9px;
  background-color: transparent;
}

.movies__more:hover {
  opacity: 0.6;
}

@media screen and (max-width: 648px) {
  .movies__list {
    grid-template-columns: repeat(1, 270px);
  }
  .movies__more {
    max-width: 240px;
  }
  .movies__more-button {
    padding: 11px 110px 9px;
  }
}
