.movie {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 0;
  margin: 0 auto;
}

.movie__nowrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 18px;
  padding: 0;
}

.movie__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto 0 0;
  padding: 0;
}

.movie__length {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #8b8b8b;
  margin: 0 0 0 auto;
  padding: 0;
}

.button {
  width: 100px;
  align-self: center;
  background: #313131;
  border-radius: 30px;
  border: none;
  outline: none;
  margin: 18px auto;
}

.button_active {
  background: #EE3465;
}

.button__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 9px auto;
  padding: 0;
}

.button_active {
  background: #EE3465;
}

@media screen and (max-width: 900px) {
  .movie {
    max-width: 342px;
  }
}

@media screen and (max-width: 748px) {
  .movie {
    max-width: 284px;
  }
}
