{
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "plugins": [
      "prettier"
    ],
    "rules": {
      "eqeqeq": "error",
      "no-console": "off",
      "prettier/prettier": "error"
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "ignorePatterns": [
      "node_modules",
      "build",
      "dist",
      "public"
    ],
    "env": {
      "browser": true,
      "node": true
      },
    "globals": {
      "localStorage": true,
      "fetch": true,
      "window": true
    }
}