.promo {
  display: flex;
  box-sizing: border-box;
  width: calc(100% - 40px * 2);
  background: #272727;
  border-radius: 10px;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px 40px 0;
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  padding: 0;
  text-align: center;
  margin: 160px auto 151px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 900px) {
  .promo {
    max-width: calc(100% - 20px * 2);
    padding: 0;
  }
  .promo__title {
    font-size: 40px;
    line-height: 52px;
    margin: 350px auto 314px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    min-width: 292px;
  }
  .promo__title {
    font-size: 29px;
    line-height: 37px;
    margin: 220px 0 212px;
  }
}
