.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 74px;
    margin: 0 auto;
    padding: 21px 40px;
  }
  
  .header__logo {
    width: 38px;
    height: 38px;
    margin: 0 auto 0 0;
    object-fit: cover;
  }
  
  .header__block { 
    display: flex;
  }
  
  .header__auth {
    display: flex;
  }
  
  .header__button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity 0.5s linear 0.1s;
    padding: 0;
    padding: 8px 20px;
    margin: 0 0 0 auto;
    border-radius: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    background: #3ddc84;
  }
  
  .header__button:first-of-type {
    margin-right: 10px;
    background: transparent;
    color: #ffffff;
  }
  
  .header__button_active {
    background: #3ddc84;
    color: #000000;
  }
  
  .header__button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 900px) {
    .header {
      width: calc(100% - 30px * 2);
      padding: 21px 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      width: calc(100% - 30px * 2);
      padding: 14px 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header {
      width: calc(100% - 14px * 2);
      padding: 14px 0;
    }
    .header__logo {
      margin: 0 auto 0 0;
    }
    .header__button {
      font-size: 10px;
      line-height: 16px;
      padding: 5px 12px;
      margin: 0;
    }
    .header__button:first-of-type {
      margin-right: 0;
    }
  }
  