.register {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 396px;
  padding-bottom: 100%;
}

.logo {
  margin-top: 70px;
}

.form__welcome {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 40px auto 0;
}

.form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin: 20px auto 10px 0;
}

.form__label:first-of-type {
  margin-top: 0;
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 15px;
}

.form__button-container {
  margin: 69px auto 16px;
  width: 100%;
}

.form__button {
  width: 100%;
  background: #4285f4;
  border-radius: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 15px;
  color: #ffffff;
}

.form__links {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.form__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  margin-left: 6px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .register {
    width: 280px;
  }
  .logo {
    margin: 56px auto 0;
  }
  .form__welcome {
    margin: 50px auto 80px;
  }
  .form {
    margin-top: 0;
  }
  .form__button-container {
    margin: 157px auto 14px;
  }
  .form__button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .form__links {
    font-size: 12px;
    line-height: 15px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
